# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Gradle
.gradle/
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.properties

# Logs and databases
*.log
*.sql
*.sqlite

# Other
*.bak
*.swp
*~.nib
*.properties
*.class
*.war
*.ear
*.jar
*.rar

# Virtual Machine files
*.vdi
*.vbox
*.vbox-prev

# JetBrains IDE
*.iml.*
*.icls
*.iws
.idea/**/dictionaries
.idea/**/shelf
.idea/**/workspace.xml
.idea/**/usage.statistics.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/replstate.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/modules
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gwt.xml
.idea/codeStyleSettings.xml
.idea/misc.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator-enh.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/encodings.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/scopes/scope_settings.xml
.idea/shelf

# Junit
*.junit
*.junit_tmp

# TestNG
test-output/
*.tlog
*.tmp

# OS generated files
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db